<!-- src/main/resources/templates/pages/home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}"
      lang="ko">
<body>
<main layout:fragment="content" class="detail-container">
    <div class="my-container">
        <div class="my-left-container" th:replace="~{fragments/myLeft :: myLeft}"></div>
        <form class="my-right-container" method="POST" th:action="@{/my/password}">
            <div class="subTitle" style="margin-bottom: 30px;">비밀번호 변경</div>
            <div class="my-info-inputBox">
                <label>현재 비밀번호
                    <input type="password" name="prevPassword" placeholder="현재 사용하시는 비밀번호를 입력해주세요" required/>
                </label>
                <label>변경할 비밀번호 *
                    <input type="password" name="password" placeholder="새로운 비밀번호를 입력해주세요" required/>
                </label>
                <label>비밀번호 확인 *
                    <input type="password" name="confirmPassword" placeholder="새로운 비밀번호를 다시 한 번 입력해주세요" required/>
                </label>
            </div>
            <div class="error-text" th:if="${error}" th:text="${error}"></div>
            <button type="submit">회원 정보 변경</button>
        </form>
    </div>
</main>
</body>
</html>
