<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.moida.mapper.MoimMapper">
    <insert id="insertMoim" parameterType="com.kh.moida.model.Moim">
        INSERT INTO MOIM VALUES (
            SEQ_MOIM_ID.NEXTVAL,
            #{moimTitle},
            #{moimType},
            #{moimContent},
            #{moimAttendeeCount},
            #{moimZipCode},
            #{moimAddress1},
            #{moimAddress2},
            #{moimDate},
            #{moimMoney},
            #{moimAvgRate},
            #{moimHostIntro},
            #{isVisible},
            #{isActive},
            #{moimCount},
            #{userId},
            #{categoryId},
            #{fileId}
        )
    </insert>
    
    <update id="updateMoimCategoryToDefault">
        UPDATE
            MOIM
        SET
            CATEGORY_ID = 21
        WHERE
            CATEGORY_ID = #{categoryId}
    </update>
    
    <select id="findMoim" resultType="com.kh.moida.model.Moim">
        SELECT
            M.*,
            F.FILE_ORIGIN,
            F.FILE_CONVERT
        FROM
            MOIM M
        LEFT JOIN FILES F ON M.FILE_ID = F.FILE_ID
        <where>
            M.IS_VISIBLE = 'Y'
            AND M.IS_ACTIVE = 'Y'
            <if test="categoryId != null">
                AND M.CATEGORY_ID = #{categoryId}
            </if>
        </where>
        ORDER BY moim_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    
    <select id="countMoim" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            MOIM
        <where>
            IS_VISIBLE = 'Y'
            AND IS_ACTIVE = 'Y'
            <if test="categoryId != null">
                AND CATEGORY_ID = #{categoryId}
            </if>
        </where>
    </select>
    
    
    <select id="findMoims" parameterType="map" resultType="com.kh.moida.model.Moim">
        SELECT
            *
        FROM (
            SELECT
                ROWNUM AS rn, moim_data.*
            FROM (
                SELECT
                    M.*,
                    F.FILE_ORIGIN AS fileOrigin,
                    F.FILE_CONVERT AS fileConvert
                FROM
                    MOIM M
                LEFT JOIN FILES F ON M.FILE_ID = F.FILE_ID
                <where>
                    M.IS_VISIBLE = 'Y'
                    AND M.IS_ACTIVE = 'Y'
                    <if test="categoryId != null">
                        AND M.CATEGORY_ID = #{categoryId}
                    </if>
                </where>
                ORDER BY
                    M.MOIM_ID DESC
            ) moim_data
            WHERE
                ROWNUM &lt;= #{endRow}
        )
        WHERE
            rn &gt;= #{startRow}
    </select>
    
    
    <select id="findMoimById" resultType="com.kh.moida.model.Moim">
        SELECT
            M.MOIM_ID,
            M.MOIM_TITLE,
            M.MOIM_CONTENT,
            M.MOIM_DATE,
            M.MOIM_ATTENDEE_COUNT,
            M.MOIM_MONEY,
            M.MOIM_HOST_INTRO,
            M.MOIM_ZIPCODE,
            M.MOIM_ADDRESS1,
            M.MOIM_ADDRESS2,
            M.IS_VISIBLE,
            M.IS_ACTIVE,
            C.CATEGORY_NAME,
            F.FILE_ORIGIN,
            F.FILE_CONVERT
        FROM
            MOIM M
        LEFT JOIN FILES F ON M.FILE_ID = F.FILE_ID
        LEFT JOIN CATEGORY C ON M.CATEGORY_ID = C.CATEGORY_ID
        WHERE
            M.MOIM_ID = #{moimId}
            AND M.IS_VISIBLE = 'Y'
            AND M.IS_ACTIVE = 'Y'
    </select>
    
    <update id="updateMoimWithoutFile">
    	UPDATE MOIM
			SET
				MOIM_TITLE = #{moimTitle},
				MOIM_TYPE = #{moimType},
				MOIM_CONTENT = #{moimContent},
				MOIM_ATTENDEE_COUNT = #{moimAttendeeCount},
				MOIM_ZIPCODE = #{moimZipCode},
				MOIM_ADDRESS1 = #{moimAddress1},
				MOIM_ADDRESS2 = #{moimAddress2},
				MOIM_DATE = #{moimDate},
				MOIM_MONEY = #{moimMoney},
				MOIM_HOST_INTRO = #{moimHostIntro},
<!-- 				IS_VISIBLE = #{isVisible}, -->
				IS_ACTIVE = #{isActive},
				CATEGORY_ID = #{categoryId},
		WHERE MOIM_ID = #{moimId}
    </update>
    
    <update id="updateMoimWithFile">
    	UPDATE MOIM
			SET
				MOIM_TITLE = #{moimTitle},
				MOIM_TYPE = #{moimType},
				MOIM_CONTENT = #{moimContent},
				MOIM_ATTENDEE_COUNT = #{moimAttendeeCount},
				MOIM_ZIPCODE = #{moimZipCode},
				MOIM_ADDRESS1 = #{moimAddress1},
				MOIM_ADDRESS2 = #{moimAddress2},
				MOIM_DATE = #{moimDate},
				MOIM_MONEY = #{moimMoney},
				MOIM_HOST_INTRO = #{moimHostIntro},
<!-- 				IS_VISIBLE = #{isVisible}, -->
				IS_ACTIVE = #{isActive},
				CATEGORY_ID = #{categoryId},
		WHERE MOIM_ID = #{moimId}
	</update>
	
    <!-- 관리자 모임삭제 -->
    <update id="deleteMoimList">
    	update moim set moim_status ='N'
    	where moim_id = #{moimId}
    </update>
    
    <!-- 모임 리스트 출력 -->
    <!-- 1.리뷰리스트 불러오기-->
	 <select id="getReviewList" parameterType="com.kh.moida.model.Review">
	 	select 
		 	r.review_id, r.review_date, r.review_title, r.review_content, r.review_rate, u.username, u.name,
		 	f.file_convert as review_image
	 	from review r
	 	join users u on r.user_id = u.user_id
	 	left join
	 		files f on r.file_id = f.file_id
	 	where
	 		r.moim_id = #{moimId}
	 	order by
	 		r.review_date desc
	 </select>
	    
	<!-- 모임 참여 -->
    <update id="moimJoinMoim">
    	UPDATE MOIM_ATTENDEE
    	SET
    		USER_ID = #{user_id}
    		MOIM_ID = #{moim_id}
    		ATT_DATE = SYSDATE
    	
    </update>
    
</mapper>