<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.moida.mapper.ReviewMapper">
    <!-- 리뷰리스트 뽑기 : moimDetail -->
    <select id="getReviewList" resultType="com.kh.moida.dto.ReviewWithUser">
        SELECT
            R.REVIEW_ID,
        	R.REVIEW_DATE,
            R.REVIEW_TITLE,
			R.REVIEW_CONTENT,
			R.REVIEW_RATE,
			U.USERNAME,
			U.USER_ID,
			R.MOIM_ID
			
        FROM
			REVIEW R
        JOIN USERS U ON U.USER_ID = R.USER_ID
        WHERE
			MOIM_ID = #{moimId}
        ORDER BY R.REVIEW_DATE DESC
        FETCH FIRST 3 ROWS ONLY
    </select>

    <select id="existWriter" parameterType="map" resultType="int">
        SELECT COUNT(*)
            FROM REVIEW
        WHERE
            MOIM_ID = #{moimId} AND USER_ID = #{userId}
    </select>

   <!-- 별점 평균 구하기 -->
    <select id="getRateAvgByMoimId" parameterType="Long" resultType="double">
	  SELECT AVG(REVIEW_RATE)
	  FROM REVIEW
	  WHERE MOIM_ID = #{moimId}
	</select>
	
	
    <!-- 후기등록 -->
<insert id="writeReview">
    <selectKey keyProperty="reviewId" resultType="int" order="BEFORE">
        SELECT REVIEW_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO REVIEW (
        REVIEW_ID,
        REVIEW_DATE,
        REVIEW_TITLE,
        REVIEW_CONTENT,
        REVIEW_RATE,
        MOIM_ID,
        FILE_ID,
        USER_ID
    ) VALUES (
        #{reviewId},
        SYSDATE,
        #{reviewTitle},
        #{reviewContent},
        #{reviewRate},
        #{moimId},
        #{fileId},
        #{userId}
    )
</insert>


    <!-- review edit  -->
    <select id="selectReview" resultType="com.kh.moida.model.Review">
        SELECT
            R.*,
            F.FILE_ORIGIN,
            F.FILE_CONVERT
        FROM
            REVIEW R
        LEFT JOIN FILES F ON R.FILE_ID = F.FILE_ID
        WHERE
            R.REVIEW_ID = #{reviewId}
    </select>


    <!-- review read : review내용 -->
    <select id="getReview" parameterType="long" resultType="com.kh.moida.dto.ReviewWithUser">
    SELECT
        R.*,
        U.USERNAME,
        U.NAME,
        U.USER_ID,
        R.MOIM_ID,
        F.FILE_CONVERT,
        F.FILE_ORIGIN
    FROM
        REVIEW R
    LEFT JOIN FILES F ON R.FILE_ID = F.FILE_ID
    LEFT JOIN USERS U ON R.USER_ID = U.USER_ID
    WHERE
        R.MOIM_ID = #{moimId}
    ORDER BY
        R.REVIEW_DATE DESC
    </select>


    <update id="updateReviewWithoutFile">
        UPDATE
        REVIEW
        SET
        REVIEW_TITLE = #{reviewTitle},
        REVIEW_CONTENT = #{reviewContent},
        REVIEW_RATE = #{reviewRate}
        WHERE
        REVIEW_ID = #{reviewId}
    </update>
    <update id="updateReviewWithFile">
        UPDATE
        REVIEW
        SET
        REVIEW_TITLE = #{reviewTitle},
        REVIEW_CONTENT = #{reviewContent},
        REVIEW_RATE = #{reviewRate},
        FILE_ID = #{fileId}
        WHERE
        REVIEW_ID = #{reviewId}
    </update>

    <delete id="deleteReview">
        delete from review where review_id=#{reviewId}
    </delete>


</mapper>