<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace = "com.kh.moida.mapper.ReviewMapper">
 
 <!-- 1.리뷰리스트 불러오기 : moimDetail에서 쓸것. -->
 <select id="getReviewList" parameterType="com.kh.moida.model.Review">
 	select * from review
 	where moimId = #{moimId}
 	order by review_date desc
 </select>
 
 <!-- 2. 리뷰 상세페이지용 리뷰 리스트 불러오기 -->
 <select id="">
 	SELECT 
    r.REVIEW_ID, r.REVIEW_DATE, r.REVIEW_TITLE, r.REVIEW_CONTENT, r.REVIEW_RATE,u.USERNAME, u.NAME,
    f.FILE_CONVERT AS REVIEW_IMAGE  --만약 이미지가 있다면
FROM 
    REVIEW r
JOIN 
    USERS u ON r.USER_ID = u.USER_ID
LEFT JOIN 
    FILES f ON r.FILE_ID = f.FILE_ID
WHERE 
    r.MOIM_ID = #{moimId}
ORDER BY 
    r.REVIEW_DATE DESC;
 	
 </select>
 
 
 
 
 
 
 </mapper>