<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<footer th:fragment="footer">
    <div class="main-wrapper">
        <div class="footer-container">
            <div class="footer-logo logo">
                MOIDA
            </div>
            <div class="footer-menu">

            </div>
            <div class="footer-copyright">
                당신의 취향이 모임이 되는 순간<br/>
                사람과 사람이 만나는 가장 자연스러운 방식
                <div class="footer-copyrightText">© 2025 Moineun Daseot Saram. All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
