<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOIDA</title>
    <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/sign.css"/>
    <link rel="stylesheet" href="/css/my.css"/>
    <link rel="stylesheet" href="/css/moim.css"/>
    <link rel="stylesheet" href="/css/moim_create.css"/>
    <link rel="stylesheet" href="/css/moim_detail.css"/>
    <link rel="stylesheet" href="/css/category.css"/>
    <link rel="stylesheet" href="/css/notice.css"/>
    <link rel="stylesheet" href="/css/review_write.css"/>
    <link rel="stylesheet" href="/css/review_edit.css"/>
    <link rel="stylesheet" href="/css/review_read.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
    <script src="//cdn.jsdelivr.net/npm/@tabler/icons@latest/icons-react/dist/index.umd.min.js" defer></script>
    
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
    <script type="application/javascript" src="/js/global.js" defer></script>
    <script type="application/javascript" src="/js/moim.js" defer></script>
    <script type="application/javascript" src="/js/moim_detail.js" defer></script>
    <script type="application/javascript" src="/js/review_write.js" defer></script>
    <script type="application/javascript" src="/js/review_edit.js" defer></script>
    <script type="application/javascript" src="/js/admin.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"/>
</head>
<body>
<header class="header" th:fragment="navigation">
    <div class="header-container">
        <a href="/" target="_self" class="logo">MOIDA</a>
        <nav class="header-buttonBox">
            <a class="header-button" th:href="${loginUser != null ? '/my/info' : '/sign/in'}">
                <i class="ti ti-users"></i>
                <span>마이</span>
            </a>
            <a class="header-button" th:if="${loginUser != null && loginUser.isAdmin == 'Y'}"
               th:href="${loginUser != null ? '/admin/moim' : '/sign/in'}">
                <i class="ti ti-circle-letter-a"></i>
                <span>관리자</span>
            </a>
            <div class="header-button" onclick="showMenu()">
                <i class="ti ti-menu-2 mobile-menuButton"></i>
                <span>메뉴</span>
            </div>
        </nav>
    </div>
</header>
</body>








</html>