<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="my-left-container" th:fragment="myLeft">
    <div class="my-menuBox">
        <a href="/my/info">
            회원 정보 수정
        </a>
        <a href="/my/password">
            비밀번호 변경
        </a>
        <a href="/my/moim/hosted/list">
            나의 개설 모임
        </a>
        <a href="/my/moim/joined/list">
            나의 참여 모임
        </a>
        <a href="/my/review/list">
            나의 리뷰
        </a>
        <a href="/my/qna/list">
            나의 문의
        </a>
        <a href="/sign/out">
            로그아웃
        </a>
    </div>
</div>
</body>
</html>