<body>
<header class="header" th:fragment="navigation">
    <div class="header-container">
        <a href="/" target="_self" class="logo">MOIDA</a>
        <nav class="header-buttonBox">
            <a class="header-button" href="/sign/in">
                <i class="ti ti-users"></i>
                <span>마이</span>
            </a>
            <div class="header-button">
                <i class="ti ti-circle-letter-a"></i>
                <span>관리자</span>
            </div>
            <div class="header-button" onclick="showMenu()">
                <i class="ti ti-menu-2 mobile-menuButton"></i>
                <span>메뉴</span>
            </div>
        </nav>
    </div>
</header>
</body>