.category-table {
    width: 100%;
}

.category-table > thead > tr {
    padding: 10px 0;
    color: black;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.category-table > thead > tr > th {
    padding: 10px;
}

.category-table > tbody > tr {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.category-table td {
    padding: 10px;
    vertical-align: middle;
}

.category-table td.cell-center {
    text-align: center;
}

.category-table .icon-cell {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-container.category {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.category-left {
    width: 200px;
}

.category-left .category-box {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.category-box > a {
    padding: 15px 0;
    color: #cccccc;
}

.category-box > a:hover {
    color: black;
}

.category-box > a.active {
    color: black;
}

.category-right {
    flex-grow: 1;
}

@media (max-width: 48rem) {
    .category-left {
        display: none;
    }
}