.category-table {
    width: 100%;
}

.category-table > thead > tr {
    padding: 10px 0;
    color: black;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.category-table > thead > tr > th {
    padding: 10px;
}

.category-table > tbody > tr {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.category-table td {
    padding: 10px;
    vertical-align: middle;
}

.category-table td.cell-center {
    text-align: center;
}

.category-table .icon-cell {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}