body{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.a:hover{
    cursor: pointer;
    text-decoration: none;
}

.header {
    position: sticky;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #FFA600, #FFCD62);
}

.header > .header-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header .logo {
    font-size: 2rem;
    color: #fff;
    user-select: none;
    cursor: pointer;
    margin-right: 50px;
    font-family: 'RiaSans-ExtraBold', serif;
    font-weight: bold;
}

.header .header-menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.header .header-buttonBox {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .header-buttonBox .header-button {
    min-width: 40px;
    padding: 8px 16px;
    border-radius: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .header-buttonBox .mobile-menuButton {
    font-size: 2.5rem;
}

.header .header-buttonBox .header-button i {
    font-size: 1.5rem;
}

.header .header-buttonBox .header-button span {
    font-size: 0.8rem;
    margin-top: 4px;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10 20px;
    box-sizing: border-box;

}

/* 사진,설명 등 왼쪽칸 */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 700px;
    margin-right: 30px;
    margin-left: 20px;
}

/* 등록 - 오른쪽 칸 */
.main-container2 {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    min-width: 300px;
    background-color: white;
}

.moim-main-image{
    width: 100%;
    max-width:800px;
    height: auto;
    position: left;
    margin: 20px 0 0 0;
    object-fit: cover;
    border-radius: 20px;
    box-sizing: border-box;

}

/* 신청하기 칸 */
.main-enroll-pc{
  display: flex;
  text-align: center;
  position: fixed;
  width : 100%;
  max-width: 430px;
  height : 350px;
  gap:20px;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background: none;
  margin-top: 20px;
  flex-direction: column; 
  align-items: flex-start;
 
}
.moim-category{
    display: inline-block;
    border-radius: 200px;
    border: none;
    background-color:#FFA600;
    font-size: 16px;
    font-weight: 300;
    color:black;
    padding: 10px 10px;
    text-align: center;
}
.moim-title{ 
    display:block;
    font-size:30px;
    font-weight: 500;
    color:#000;
    font-display: block;
    padding:5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
/* 시간장소 섹션 */
.moim-description{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 20px;
    font-weight: 300;
    color:#0000009d;
    margin-bottom: 0;
}

/* 캘린더표시 : 시간 장소 */
.moim-arrange{
    display: flex;
    align-items: center;
    margin-left:10px;
    margin-bottom: 20px;
}

.moim-fee{
    font-size:25px;
    font-weight: 500;
    color:#000;
    display: flex;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    
}
.moim-fee-2{
    display: inline-flex;
    padding-left: 230px;

}
.moim-enroll-divider{
    display: block;
    border: none;
    border-bottom: 2px solid rgba(150, 149, 149, 0.267);
    width: 420px;
    align-content: center;
    margin: 0 auto;
}
/* 신청하기 버튼 */
.enroll-button-pc{
    display: flex;
    background-color:#FFA600;
    color: black;
    border: none;
    border-radius: 999px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width:100%;
    height: 60px;
    margin-bottom:20px;
}

.enroll-button-pc:hover{
    background-color: rgb(255,188,1);
    cursor: pointer;
    color:#fff;
}
 .main-enroll-mobile,
 .main-enroll-mobile button, 
 .moim-title-mobile,
 .moim-description-mobile,
 .moim-fee-mobile,
 .moim-enroll-divider-mobile{
    display: none;
}

/* 리뷰제목+리뷰더보기 섹션 */
.review-content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;

}
/* <참여자후기>title */
.review-title{
    justify-content: left;
    font-size:30px;
    font-weight: 500;
    color:#000;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    padding-left: 10px;
}

/* 리뷰 아이템이 들어있는 구역 */
.reviews-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:800px;
    height:auto;
    margin-top: 20px;

}

/* 각 리뷰칸 */
.review-item{
    display: flex;
    align-items: flex-start;
    justify-content: center space-evenly;
    width: 200px;
    height:130px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-right: 10px;
    background-color: white;
    color:black;
    
}
.review-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1.5;
}
.profile-img{
    border-radius: 100%;
    width:50px;
    height:50px;
    border-style: none;
    object-fit: cover;
    margin-top: 6px;
    margin-left: 6px;
}
.review-writer{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 400;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
}
.user-star{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    gap:1.5px;
    
}
.review span{
    padding-top: 10px;
    display: -webkit-box;
    position: relative;
    -webkit-line-clamp: 2;        /* 제한 줄 수  */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;           /* 줄 간격 조정 */
    max-height: 3.5em;            /* 줄 수 × line-height */
    white-space: normal;
    margin-left: -50px;
    margin-top: 15px;
    box-sizing: border-box;
}
.review p{
    margin:0;
    display: flex;
}

/* 리뷰더보기 버튼 */
.more-btn{
    display: inline;
    white-space: nowrap;
    background: none;
    color:rgb(185, 182, 182);
    cursor:pointer;
    font-family: Arial, sans-serif;
    font-size:13px;
    font-weight:400;
    letter-spacing:-0.25px;
    line-height:22px;
    word-break:break-word;
    padding:0;
    text-decoration: underline;
    border-style: none;
    
}

/* 모달창 */
.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9998;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 9999;
  width: 300px;
  max-width: 80%;
}

.modal-close {
  position: absolute;
  top: 10px; right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}


/* 상세정보 */
.moim-detail-title{
    font-size: 30px;
    font-weight: 500;
    margin-top: 100px;
    padding-left: 10px;
    
    
}
hr.moimInfo-divider{
    border: none;
     border-bottom: 2px solid rgba(150, 149, 149, 0.267);
    width: 700px;
    margin:10px auto;
}




.moimInfo-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
/* 모임정보 더보기버튼 */
.moreInfo{
color:rgb(185, 182, 182);
cursor:pointer;
display:flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 20px;
font-size:30px;
font-weight:400;
border-radius: 16px;
border:solid 1px rgb(185, 182, 182);
background-color: white;
line-height:25px;
width: 100%;
max-width: 1200px;
height: 80px;
text-overflow: unset;
}

.moimInfo p{
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
    word-break: break-word;     /* 긴 단어 줄바꿈 허용 */
    overflow-wrap: break-word;  /* 최신 브라우저 대응 */
    flex: 1 1 100%;    
    margin:0;
    overflow: hidden;
    position: relative;   /* 버튼 위치 조절용 */
}


/* 호스트 섹션 */
.host-intro{
    display: flex;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 10px;
}
.host-intro-2{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    color: rgb(185, 182, 182);
}
.host-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    max-width: 700px;
    margin-right: 30px;
    margin-left: 10px;
    height:auto;
    border-radius: 16px;
    border:solid 1px rgb(185, 182, 182);
}
.host-profile-img{
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 20px;
}
.host-profile-img img{
    border-radius: 100%;
    width:100px;
    height:100px;
    border-style: none;
    object-fit: cover;
    
}

/* 호스트이름, 소개 섹션 */
.host-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1.5;
}
.host-name{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 450;
    padding-left: 35px;
    padding-top: 10px;
}
.host-introduction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 35px;
    padding-top: 10px;
    color:rgb(185, 182, 182);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
    white-space: normal;
    box-sizing: border-box;
}

.host-moimImg{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
    gap:5px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
}
.host-moimImg::-webkit-scrollbar{
    height:6px;
}
.host-moimImg::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.5);
  border-radius: 3px;
}

.host-moimImg img{
    min-width: 250px;
    height: 300px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    scroll-snap-align: start;  /* 스크롤 시 이미지 정렬 */

}



@media screen and (max-width: 768px){
    .main-wrapper {
    flex-direction: column;
    align-items: center; 
    padding: 0 16px;      
    box-sizing: border-box;
  }

    .main-container,
    .main-container2,
    .host-container,
    .moimInfo-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;        /* 가운데 배치 */
    padding: 0 10px;       /* 내부 여백 */
    box-sizing: border-box;
  }
    
    .main-enroll{
    position: sticky;
    justify-content: center;
    top:auto;
    bottom: 0;
    right: 0;
    left:0;
    background-color:#FFA600;
    width:100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

     }
    .moim-main-image{
        width:100%;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
        
    }
    /* pc버튼 안보이게 처리 */
  .main-enroll-pc{
    display: none;
  }
  /* 신청버튼 하단 고정 */
    .main-enroll-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left:50%;
        width: 100%;
        transform: translateX(-50%);
        border-radius: 30px;
        border: none;
        color: black;
        background-color: #FFA600;
        height:10vh;
        z-index: 9999;     /*다른요소위에 떠 보이도록 */
    }
    .main-enroll-mobile button{
        display: flex;
        justify-content: center;  
        align-items: center;      
        width:100%;
        height:100%;
        border:none;
        background: none;
        font-size: 40px;
        color:inherit
    }
    .main-enroll-mobile:hover{
        background-color: rgb(255,188,1);
        color:#fff;
        cursor: pointer;
    }

    .moim-title-mobile{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-size: 30px;
        color: #000;
        font-weight: 500;

    }
    .moim-description-mobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 15px;
        font-size: 25px;
        font-weight: 300;
        color:#0000009d;
    }
    .moim-fee-mobile{
        display: flex;
        font-size:25px;
        font-weight: 500;
        color:#000;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .moim-fee-2-mobile{
       display: flex;
       margin-left: 480px;
    

    }
    .moim-enroll-divider-mobile{
        display: block;
        border: none;
        border-bottom: 2px solid rgba(150, 149, 149, 0.267);
        width: 100%;
        max-width: 800px;
        align-content: center;
        margin: 0 10px;
    }


    .reviews-container {
        width: 100%;
        padding: 0 10px;
    }

    .review-item {
        width: 100%;
        max-width: 95%;
        height: auto;
        margin-bottom: 15px;
        flex-direction: row;
        padding: 12px;
    }

    .moim-enroll-divider {
        width: 90%;
    }

    .host-container {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .host-moimImg {
        max-width: 100%;
        padding: 5px;
        gap: 8px;
    }

    .host-moimImg img {
        min-width: 180px;
        height: 220px;
    }

    .host-name,
    .host-introduction {
        padding-left: 20px;
    }

    .moim-main-image {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .modal {
        width: 80%;
        padding: 16px;
    }

    .review span {
        max-height: none;
        -webkit-line-clamp: unset;
        display: block;
    }

    .review p {
        flex-direction: column;
    }

      .host-moimImg {
        max-width: 100%;
        width: 100%;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .host-moimImg img {
        min-width: 200px;
        height: 250px;
    }
    
}   

    


