.review-wrapper{ 
    /* 화면 가운데 정렬 */
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    padding:20px 0;
    align-items: center;  
    margin: 0 auto; 
    font-family: 'Helvetica Neue', sans-serif;
}
/* 리뷰상단 */
.review-banner{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

}
.review-title{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #f29101;
}

.moim-title{
    display: flex;
    font-size: 25px;
    margin-top: 10px;
}
.moim-info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 8px;
    font-size:20px;
}

/* 사진모음 */
.review-photo-container{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 10px;
    border: solid 1px rgba(207, 203, 203, 0.713);
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 30px;
    max-width: 1200px;   
    width: 100%;   
}

.review-photo-button{
   display: none;
}
.review-photo{
    display: flex;
    overflow-x: auto;
    width:100%;
    max-width: 1200px;
    white-space: nowrap;

}
.review-photo img{
    width: 130px;
    height:130px;
    margin-right: 10px;
    object-fit: cover;
    flex-shrink: 0;
    display: inline-block;
    flex-direction: column;
}

/* 리뷰내용 전체 컨테이너 */
.review-read-container{
    display: flex;
    margin: 5px 0;
    padding: 10px;
    border: solid 1px rgba(207, 203, 203, 0.713);
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 80px;
    width: 100% ;
    max-width: 1200px;
}

/* 쓰니 : 프사, 이름 */
.review-writer{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left:30px;
    width: 200px;

}

.writer-name{
    margin-top: 8px;
}

.review-form{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 10px;
    width: 100%;             
    box-sizing: border-box;
    
}
.review-rate-box{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;
    width: 100%;
    max-width: 1000px;
}
.review-star{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-bottom: 10px;
}
.rate-date-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    font-size: 15px;
    color: rgba(207, 203, 203, 0.947);
}

 .review-edit{
  display: flex;
  flex-direction: row;
  gap: 5px; 
  margin-left: auto;
  margin-right: 15px;
  background : none;
 }

 .review-edit span:hover{
    cursor:pointer;
 }
.review-content-title{
    display: flex;
    font-size: 15px;
    color:black;
    margin-top: 25px;
    width: 100%;
    max-width: 1200px;
    align-items: flex-start;
    justify-content: left;
    overflow: visible;
    white-space: pre-wrap;   
    overflow-wrap: break-word;
}
.review-read-content{
    font-size: 15px;
     overflow: visible;
     white-space: pre-wrap;   
     overflow-wrap: break-word;
     width: 100%;
     max-width: 1200px;
     line-height: 1.6;
     
}
.review-read-form img{
    width:100%;
    max-width: 400px;
    height:auto;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {

.review-wrapper{
  width:100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  font-family: 'Helvetica Neue', sans-serif;
  
 }
  .review-banner,
  .review-title,
  .moim-title {
    font-size: 120%;
  }
  
.review-photo-container{
  width:100%;
  max-width: 768px;
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: flex-start;

}
.review-photo-button{
   display: show;
}
.review-photo{
    display: flex;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding-right: 40px;
    gap:6px;
  }
  .review-photo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: inline-block;
    object-fit: cover;
    flex-shrink: 0;
  }
  .review-photo-button span{
    cursor: pointer;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(191, 190, 190, 0.839);
    border: none;
    padding: 10px;
    z-index: 10;
  }
.review-read-container{
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;
  box-sizing: border-box; 
  
}

.review-read-form{
    width: 100%;
    max-width: 100%;
    overflow: visible;
    flex-direction: column;        
    box-sizing: border-box;
    display: flex;
}
 .review-edit{
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  flex-direction: row;
 }
 .review-rate-box{
    display: flex;
    flex-direction: column;
}
/*평점이랑 날짜 - 가로정렬*/
.rate-date-box{
    display: flex;
    flex-direction: row;
}
  .writer-profile img {
    width: 80px;
    height: 80px;
}
/* 리뷰사진모음상단 */
  .review-photo img {
    display: block;
    width: 100%;
    max-width: 100px;
    height: 100px;
     margin-left: auto;
  margin-right: auto;
    
  }
/* 리뷰내용사진 */
 .review-img {
  margin-left: auto;
  margin-right: auto;
}



}
