<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}" lang="ko">
<div layout:fragment="content" class="main-wrapper main-wrapper-center">
	<div class="box3-container">
		<div class="create-moim">
			<p>모임 생성</p>
			<div class="create-moim-container">
				<div class="create-moim-row">
					<div class="create-moim-label">
						<label>모임유형 :</label>
					</div>
					<div class="create-moim-input">
						<select name="moim-type">
							<option value="">-- 모임유형을 선택하세요 --</option>
							<option value="online">온라인</option>
							<option value="offline">오프라인</option>
						</select>
					</div>
				</div>

				<div class="create-moim-row">
					<div class="create-moim-label">
						<label>카테고리 :</label>
					</div>
					<div class="create-moim-input">
						<select name="moim-category">
							<th:block th:each="c : ${categoryList}">
								<option th:value="${c.categoryId}" th:text="${c.categoryName}"></option>
							</th:block>
						</select>
					</div>
				</div>

				<div class="create-moim-row">
					<div class="create-moim-label">
						<label>모임제목 :</label>
					</div>
					<div class="create-moim-input">
						<input type="text" name="moim-title" placeholder="모임 제목을 입력하세요" />
					</div>
				</div>

				<div class="create-moim-row">
					<div class="create-moim-label">
						<label for="moim-date">모임날짜 :</label>
					</div>
					<div class="create-moim-input">
						<input type="datetime-local" id="moim-date" name="moim-date" />
					</div>
				</div>
				<div class="create-moim-row">
					<div class="create-moim-label">
						<label for="address2">모임장소 :</label>
					</div>
					<div class="create-moim-input">
						<div class="address-inline">
							<div class="address-label">
								<button type="button" class="btn address-search-btn"
									onclick="execDaumPostcode()">주소찾기</button>
							</div>
							<div class="address-input">
								<input type="text" id="zipCode" name="zipCode" readonly
									placeholder="우편번호" />
							</div>
						</div>
						<input type="text" id="address1" name="address1" readonly
								placeholder="기본 주소" /> <input type="text" id="address2"
								name="address2" placeholder="상세 주소 입력" />
						
					</div>
				</div>
				<div class="create-moim-row">
					<div class="create-moim-label">
						<label for="moim-fee">참가비용 :</label>
					</div>
					<div class="create-moim-input">
						<input type="text" id="moim-fee" name="moim-fee" />
					</div>
				</div>
				<div class="create-moim-row">
					<div class="create-moim-label">
						<label for="moim-description">모임설명 :</label>
					</div>
					<div class="create-moim-input">
						<textarea id="moim-description" name="moim-description" 
							placeholder="모임 설명을 입력하세요"></textarea>
					</div>
				</div>
				<div class="create-moim-row">
					<div class="create-moim-label">
						<label for="moim-description">호스트 소개 :</label>
					</div>
					<div class="create-moim-input">
						<textarea id="moim-description" name="moim-description" 
							placeholder="간단한 자기소개를 써주세요."></textarea>
					</div>
				</div>

				<div class="buttons">
					<label for="upload-photo" class="btn">사진 업로드<i
						class="ti ti-photo-plus"></i></label>
					<button type="submit" class="btn">
						모임 생성<i class="ti ti-users-group"></i>
					</button>
					<input type="file" id="upload-photo" style="display: none;" />
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>