<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" th:href="@{/css/jsncss.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
</head>
<body>
	<div class="moim-join">
		<h2 class="moim-title" th:text="${moimTitle}"></h2>

		<div class="line"></div>
		<div class="moim-info">
			<span>[[${moimType}]] · [[${moimAddress1}]] ·[[${moimDate}]] </span>
		</div>
		<div class="line"></div>
		<div class="moim-price">
			<span>참가비</span> <strong>[[${moimMoney}]]원</strong>
		</div>
		<div class="line"></div>
		<br />
		<br />
		<div class="button-box">
			<div class="btn-like">
				<div>
					<i class="ti ti-heart" id="heart1"></i>
				</div>
				<p>43</p>
			</div>
			<button class="btn-join">참여하기</button>
		</div>
	</div>


</body>
</html>