<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}" lang="ko">
<div layout:fragment="content" class="main-wrapper main-wrapper-center">
	<body>
		<table class="table-box">
				<tr>
					<th>모임번호</th>
					<th>모임명</th>
					<th>호스트</th>
					<th>관리</th>
				</tr>
				<tr>
					<td>1</td>
					<td>다섯명이 모여요</td>
					<td>홍길동</td>
					<td class="buttons">
						<button class="edit">수정</button>
						<button class="delete">삭제</button>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>다섯명이 모여요2</td>
					<td>홍길동</td>
					<td class="buttons">
						<button class="edit">수정</button>
						<button class="delete">삭제</button>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>다섯명이 모여요3</td>
					<td>홍길동</td>
					<td class="buttons">
						<button class="edit">수정</button>
						<button class="delete">삭제</button>
					</td>
				</tr>
		</table>
		</body>
		</div>
	
</html>