<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}" lang="ko">
<div layout:fragment="content" class="main-wrapper main-wrapper-center">
	<body>
		<table class="table-box">
			<tr>
				<th>모임번호</th>
				<th>모임명</th>
				<th>호스트</th>
				<th>관리</th>
			</tr>
			<tr th:each="moim : ${moim}">
				<td th:text="${moim.moimId}"></td>
				<td th:text="${moim.moimTitle}"></td>
				<td th:text="${moim.userId}"></td>
				<td class="buttons">
					<button class="edit" onclick="location.href='pages/moim/modifyMoim'">수정</button>
					<button class="delete" onclick="location.href='pages/moim/deleteMoim'">삭제</button>
				</td>
			</tr>
		</table>
	</body>
</div>

</html>