<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모임후기 등록페이지</title>
    <link rel="stylesheet" href="./review_write.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <script src="./review_write.js" defer></script>
</head>
<body>
    <div class="main-wrapper">
        <div class="review-container"> <!--리뷰작성칸 전체-->
            <div class="review-header"> <!--리뷰작성 상단바-->
                <div class="review-title">내 모임 리뷰 : 연희동 와인 클래스</div>
            </div>
                
            <!--리뷰 작성란-->
            <div class="review-content"> 
                <form id="reviewForm" method="post" action="/review/write"enctype="multipart/form-data">
                    <textarea id="reviewText" name="reviewText" rows="25" cols="150" placeholder="즐거웠던 기억을 되살려보세요! (10자 이상)" required  maxlength="1000"></textarea>
                    <div class="review-image-upload">
                        <i class="ti ti-library-photo"></i>
                        <span class="image-text">이미지 업로드</span>
                        <input type="file" id="imageUpload" name="imageUpload" accept="image/*"  multiple style="display: none;"/>
                    </div>
                    <!--이미지 삭제-->
                    <div class="review-image-delete" id="imageDelete">
                        <div class="review-image-list" id="imageFileList"> <!--이미지 list + 삭제아이콘이랑 세트-->
                            <span id="imageName"></span>
                            <span class="image-delete-icon" id="imageDeleteIcon" style="display:none">
                                <i class="ti ti-trash"></i>
                            </span>
                        </div>
                    </div>

                    <!--별점 영역-->
                    <div class="review-rating-stars" id="reviewRating">
                        <div class="review-star">
                            <span class="star" data-value="1"><i class="ti ti-carambola"></i></span>
                            <span class="star" data-value="2"><i class="ti ti-carambola"></i></span>
                            <span class="star" data-value="3"><i class="ti ti-carambola"></i></span>
                            <span class="star" data-value="4"><i class="ti ti-carambola"></i></span>
                            <span class="star" data-value="5"><i class="ti ti-carambola"></i></span>
                        </div>
                    </div>
                    <input type="hidden" name="rating" id="ratingInput">
                    <div class="review-button-box">
                        <button class="review-cancel-Button">취소하기</button>
                        <button class="review-enroll-Button">등록하기</button>
                    </div>
                </form>
            </div>



        </div> <!--리뷰작성칸 전체--> 
    </div> <!--메인래퍼-->















</body>
</html>